## Question 1
- 큰수 + 두수의  차
- 22 ? 7 = 37

### 데이터 만들기

In [3]:
list1 = []
for i in range(1,200): # 첫번째 숫자의 범위
    for j in range(1,200): # 두번째 숫자의 범위
        result = (i + (i - j)) if i > j else (j + (j - i))
        list1.append([i, j, result])

### 데이터 전처리

In [5]:
import pandas as pd
data1 = pd.DataFrame(list1, columns = [ 'N1', 'N2', 'Result'])
data1.head()

   N1  N2  Result
0   1   1       1
1   1   2       3
2   1   3       5
3   1   4       7
4   1   5       9

In [6]:
X = data1.loc[ : , ['N1' , 'N2']]
y = data1.loc[: , 'Result']

### 머신러닝 모델 불러오기

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
rf = RandomForestRegressor()

### 모델 사용하기(학습)
- 규칙 찾기

In [13]:
rf.fit(X, y)

RandomForestRegressor()

### 모델 사용하기(예측)

In [17]:
rf.predict([[10,7]])

array([13.19])

## Question 2
- (큰 수 / 작은 수)의 나머지
- 4 ? 19 = 3

### 데이터 만들기

In [1]:
list2 = []
for i in range(1,2000): # 첫번째 숫자의 범위
    for j in range(1,2000): # 두번째 숫자의 범위
        result = (i % j) if i > j else (j % i)
        list2.append([i, j, result])

### 데이터 전처리

In [3]:
import pandas as pd
data2 = pd.DataFrame(list2, columns = [ 'N1', 'N2', 'Result'])
data2.head()

   N1  N2  Result
0   1   1       0
1   1   2       0
2   1   3       0
3   1   4       0
4   1   5       0

### 문제와 정답 분리
- X1 : 문제
- y1 : 정답

In [4]:
X1 = data2.loc[:,['N1','N2']]
y1 = data2.loc[:, 'Result']

### 모델 사용하기(학습)

In [8]:
rf.fit(X1,y1)

RandomForestRegressor()

### 모델 사용하기(예측)

In [9]:
rf.predict([[10,7]])

array([2.93])