In [1]:
# 리스트 생성
list1 = [1,2,3,4,5]

In [2]:
# 리스트의 주소값 확인
id(list1)

2191757184128

In [3]:
# 리스트에 값 추가
list1.append(6)

In [4]:
#리스트의 주소값 확인
id(list1)

2191757184128

In [5]:
#리스트에 새로운 값 활당
list1 = [1,2,3,4]
id(list1)

2191756968320

In [6]:
list2 = list1
id(list2)

2191756968320

In [11]:
print('list1 : ',list1)
print('list2 : ',list2)

list1 :  [1, 2, 3, 4]
list2 :  [1, 2, 3, 4]

In [14]:
# 다른 주소로 값만 가져오기
# .copy() : 값만 가져오는 기능
list3 = list1.copy()
id(list3)

2191756991168

In [12]:
str1 = '문자열'
type(str1)

str

In [13]:
int1 = 60
type(int1)

int

### 리스트

In [16]:
# remove, insert, pop, append, count, len, reverse, sort, 인덱싱, 슬라이싱, index,,,,
# 라이브러리에서 많이 사용하는 함수
# 인덱싱 슬라이싱
# append
# remove

In [19]:
# 1~50까지가 담긴 리스트 생성하기
# print(i, end = "")를 쓰면 줄 바끔이 안되고 출력가능
list1 =[]
for i in range(1,51):
    list1.append(i)
    print(i, end = " ")
print(list1)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [23]:
# 인덱싱 슬라이싱
# 대괄호[]
# 10 출력하기
# 15~25 출력하기
print(list1[9])
print(list1[14:25])

10
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [24]:
# print : 원하는 위치에서 출력 가능
# 변수명출력 : 마지막위치에서만 출력가능

In [29]:
#\n : 개행
str1 = 'asdf\nasdf'
str1
print(str1)

asdf
asdf

# 딕셔너리
- key, value로 이루어짐

In [32]:
# dic_team 변수명을 사용하여 딕셔너리 만들기
# 이름 나이 key값 사용
# 팀원들의 정보
dic_team = {'이름' : ['강범수', '문도연','김희태','최성규'],'나이': [24,27,27,27]}
dic_team

{'이름': ['강범수', '문도연', '김희태', '최성규'], '나이': [24, 27, 27, 27]}

In [33]:
import pandas as pd
test_pd = pd.DataFrame(dic_team)

In [35]:
test_pd.to_csv("asdf.csv",encoding = 'cp949')